HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
frontend/.npm/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/sonarlint
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/java_pid96027.hprof
/src/test/resources/eventADDED.json
/src/test/resources/eventBOOKMARK.json
/src/test/resources/eventDELETED.json
/test-ingres.yaml
/src/test/resources/initialLinkedTreeMap.json
/src/main/resources/static/js/sockjs-0.3.4.js
/src/main/resources/static/js/stomp.js
/src/main/resources/static/js/webSocketSendToUserApp.js
